label{
    display: block;
    font-size: 10em;
    font-family: helvetica;
    text-align: center;
}
div{
    text-align: center;
}
.buttons{
    padding: 10px 20px;
    font-size: 1.5em;
    border-radius: 5px;
    color: white;
    background-color: hsl(214, 100%, 74%);
    cursor: pointer;
    transition: background-color 0.25s;
}
.buttons:hover{
    background-color: hsl(214, 98%, 58%);
}